@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.navigation {
    background-color: #EDC867;
    width: 100%;
    max-width: 1354px;
    height: 98px;
    display: flex;
    /* position: absolute; */
}

.navigation img {
    margin-left: 124px;
    margin-top: 35px;
    /* display: block; */
    width: 92px;
    height: 28px;
    /* position: absolute; */
}

.list ul {
    position: absolute;
    width: 486px;
    height: 18px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    /* font-family: Work ; */
}


.navigation #btn1 {
    position: absolute;
    background-color: #EDC867;
    border: none;
    margin-left: 1017px;
    margin-top: 40px;
    width: 40px;
    height: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.btn2 button {
    width: 176px;
    height: 40px;
    margin-left: 870px;
    margin-top: 30px;
    display: flex;
    background-color: #F2CF74;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}

.hero {
    background-color: #F2CF74;
    height: 702px;
    width: 100%;
    max-width: 1354px;
    display: flex;
}

.hero img {
    width: 350px;
    height: 500px;
    margin-left: 192px;
    margin-top: 140px;
}

.title {
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 59px;
    width: 540px;
    height: 130px;
    margin-left: 155px;
    margin-top: 245px;
}

.subTitle {
    width: 542px;
    height: 72px;
    margin-left: 4px;
    margin-top: 17px;
    flex: 0 0 3 0;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
}

.hero button {
    width: 196px;
    height: 50px;
    color: white;
    margin-left: 2px;
    margin-top: 35px;
    display: flex;
    background-color: black;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

}

.client {
    margin: 131px 30px 0px 30px;
}

.client p {
    height: 48px;
    width: 649px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 25px 10px 10px 10px;
}

.client h2 {
    width: 700px;
    height: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 49px;
    margin: 5px 5px 20px 5px;
}

.imageFormat {
    margin: 70px 0px 0px 0px;
}

.imageFormat table td {
    padding: 20px 20px 30px 20px;
    justify-content: space-between;
}

.exercise {
    width: 100%;
    max-width: 1200px;
    height: 515px;
    background-color: #7AC678;
    border-radius: 60px;
    margin: 150px 30px 40px 82px;
    display: flex;
}

.exercise .title {
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 46px;
    width: 430px;
    height: 104px;
    margin-left: 75px;
    margin-top: 155px;
    color: white;
}

.exercise .subTitle {
    width: 395px;
    height: 72px;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.exercise img {
    width: 100%;
    max-width: 562px;
    height: 432px;
    margin: 83px 63px 0px 73px;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 150px 10px 10px 10px;
    width: 100%;
    max-width: 1354px;
    height: 255px;
}

.footer p {
    width: 303px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #6A6A6A;
    margin-top: 93px;
}

.fooTable {
    margin: 10px 10px 10px 0px;
    padding: 0px 0px 0px 44px;
}

.fooTable td {
    padding: 10px 40px 10px 25px;
    /* font-weight: bold; */
}

.logoAndPtag {
    display: flex;
    flex-direction: column;
    margin: 0px 45px 10px 72px;
}